
<div class="col-5 bg-light m-1 border border-info">
    <h5 class="text-secondary">Room - @Room.Id</h5>
    <span>@Room.RoomName</span> <br />
    <span>@Room.Price.ToString("c")</span> <br />
    <label><input type="checkbox" @bind-value="@Room.IsActive" @bind-value:event="onchange" checked="@Room.IsActive" /> Is Active</label> <br />
    <span>This Room is @(Room.IsActive ? "active" : "inactive")</span> <br />
    @if (Room.IsActive)
    {
        foreach (var prop in Room.RoomProps)
        {
            <span>@prop.Name - @prop.Value</span> <br />
        }
    }
    <EditDeleteButton IsAdmin="true"></EditDeleteButton>
</div>

@code {
    [Parameter]
    public BlazorRoom Room { get; set; }
}
